<!DOCTYPE html>
<html lang=es>
    <head>

        <link rel="stylesheet" type="text/css" href="/css/acercade.css">
            
    </head>
    <body>
        <div class = "contenedor">    
            <header>
                <h1>Acerca de...</h1>
            </header>
        
        <div class = "cuadro">

            <div class = "pregunta1">
                <h2>¿Quiénes somos?</h2>
            </div>

            <div class ="creadores">
                <h3>Ángel Vila Vidal</h3>
                <h3>Jose Luis Gutiérrez Álvarez</h3>
                <h3>Jose Antonio Marañón Calvario</h3>
                <h3>Pedro Daniel Fernández Guerrero</h3>
            </div>

            <div class = "pregunta2">
                <h2>¿Qué ofrecemos?</h2>
            </div>

            <div class="ofrecemos">
                <h3>PINFBET es una página web dedicada al juego, concretamente a las apuestas estudiantiles. Podrá apostar los créditos disponibles, obtenidos mediante su expediente, a sí mismo o a sus compañeros en las asignaturas y convovatorias que le plazca.<br>
                    Se le presenta ante usted una nueva forma para ganar créditos extras de cara a sus estudios universitarios.<br>
                    El alcance que tiene esta página es el grado de Ingeniería Informática de la Escuela Superior de Ingeniería, Puerto Real.
                </h3>
            </div>

            <div class = "pregunta3">
                <h2>¿Por qué debería probarlo?</h2>
            </div>

            <div class = "probarnos">
                <h3>Somos pioneros en el mundo de las apuestas estudiantiles debido a todo lo que queda en este ámbito por ser descubierto. Nosotros le presentamos el inicio de esta alternativa de juego y nos aseguramos, por supuesto, de mantenernos al tanto de cualquier novedad académica.</h2>
            </div>           
           
            <div class = "contactanos">
                <h2>Contáctanos:</h2>
            </div>

            <div class = "contacto">
                <h3>pinfbet@support.com</h3>
            </div>            


        </div>

        </div>
    </body>
<html>