<!DOCTYPE html>
<html lang=es>
<head>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apuestas | PINFBET</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous"
    />
</head>
<body id="body_apuestas">

    <div class="apuesta1">
        <h1>Apuesta en PinfBet</h1>
    </div>
   
    <div class="container">
    
        <form action="/apuestas" method="POST">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Asignatura que apuestas que vas a aprobar</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" required>
                        <optgroup label="1º Curso">
                            <option value="CAL" label="Cálculo"></option>
                            <option value="IG" label="Infórmatica General"></option>
                            <option value="IP" label="Introducción a la Programación"></option>
                            <option value="MD" label="Matemática Discreta"></option>
                            <option value="SDIG" label="Sistemas Digitales"></option>

                            <option value="EST" label="Estádistica"></option>
                            <option value="FFE" label="Fundamentos Físicos y Electrónicos de la Informática"></option>
                            <option value="FEC" label="Fundamentos de Estructuras de Computadores"></option>
                            <option value="MP" label="Metodología de la Progamación"></option>
                            <option value="ALG" label="Álgebra"></option>
                        </optgroup>
                    
                        <optgroup label="2º Curso"> 
                            <option value="AAED" label="Análisis de Algoritmos y Estructura de Datos"></option>
                            <option value="AC" label="Arquitectura de Computadores"></option>
                            <option value="OGE" label="Organización y Gestión de Empresas"></option>
                            <option value="RC" label="Redes de Computadores"></option>
                            <option value="SO" label="Sistemas Operativos"></option>

                            <option value="BD" label="Bases de Datos"></option>
                            <option value="EDNL" label="Estructura de Datos no Lineales"></option>
                            <option value="IS" label="Ingeniería del Software"></option>
                            <option value="POO" label="Programación Orientada a Objetos"></option>
                            <option value="SD" label="Sistemas Distribuidos"></option>
                        </optgroup>

                        <optgroup label="3º Curso"> 
                            <option value="DA" label="Diseño de Algoritmos"></option>
                            <option value="IA" label="Inteligencia Artificial"></option>
                            <option value="PCTR" label="Programación Concurrida en Tiempo Real"></option>
                            <option value="PINF" label="Proyectos Informáticos"></option>
                            <option value="SSI" label="Seguridad en los Sistemas Informaticos"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Computadores (3º Curso)"> 
                            <option value="MC" label="Modelos de Computación"></option>
                            <option value="RP" label="Reconocimiento de Patrones"></option>
                            <option value="SI" label="Sistemas Inteligentes"></option>
                            <option value="TALF" label="Teoría de Autómatas y Lenguajes Formales"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Ingeniería de Computadores (3º Curso)"> 
                            <option value="DBM" label="Diseños Basados en Microprocesadores"></option>
                            <option value="DCE" label="Diseño de Computadores Empotrados"></option>
                            <option value="DRC" label="Diseño de Redes de Computadores"></option>
                            <option value="TDC" label="Técnicas de Diseño de Computadores"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Ingeniería del Software (3º Curso)"> 
                            <option value="DSS" label="Diseño de Sistemas Software"></option>
                            <option value="IISS" label="Implementación e Implantación de Sistemas Software"></option>
                            <option value="IR" label="Ingeniería de Requisitos"></option>
                            <option value="VVS" label="Verificación y Validación del Software"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Sistemas de información (3º Curso)"> 
                            <option value="DSH" label="Desarrollo de Sistemas Hipermedia"></option>
                            <option value="PNET" label="Programación en Internet"></option>
                            <option value="SIE" label="Sistemas de Información en la Empresa"></option>
                            <option value="TABD" label="Tecnologías Avanzadas de Bases de Datos"></option>
                        </optgroup>
                        
                        <optgroup label="Especialidad: Tecnologías de la información (3º Curso)"> 
                            <option value="AS" label="Administración de Servidores"></option>
                            <option value="IPO" label="Interacción de Persona-Ordenador"></option>
                            <option value="ICR" label="Interconexión de Redes"></option>
                            <option value="PW" label="Programación Web"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Computadores (4º Curso)"> 
                            <option value="APC" label="Aprendizaje Computacional"></option>
                            <option value="CC" label="Complejidad Computacional"></option>
                            <option value="P" label="Percepción"></option>
                            <option value="PL" label="Procesadores de Lenguaje"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Ingeniería de Computadores (4º Curso)"> 
                            <option value="ASRC" label="Administración y Seguridad de Redes de Computadores"></option>
                            <option value="ACPD" label="Arquitectura de Computadores Paralelos y Distribuidos"></option>
                            <option value="DAAC" label="Diseño Avanzado de Arquitectura de Computadores"></option>
                            <option value="PPD" label="Programación Paralela y Distribuida"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Ingeniería del Software (4º Curso)"> 
                            <option value="CS" label="Calidad del Software"></option>
                            <option value="DGPS" label="Dirección y Gestión de Proyectos Software"></option>
                            <option value="ES" label="Evolución del Software"></option>
                            <option value="MPS" label="Metodologías y Procesos Software"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Sistemas de información (4º Curso)"> 
                            <option value="DSH" label="Administración de Bases de Datos"></option>
                            <option value="PNET" label="Ingeniería de Sistemas de Información"></option>
                            <option value="SIE" label="Recuperación de la Información"></option>
                            <option value="TABD" label="Tecnologías de Inteligencia de Negocio"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>
                        
                        <optgroup label="Especialidad: Tecnologías de la información (4º Curso)"> 
                            <option value="AS" label="Calidad de los Sistemas Informáticos"></option>
                            <option value="IPO" label="Ingeniería Web"></option>
                            <option value="ICR" label="Internet y Negocio Electrónico"></option>
                            <option value="PW" label="Virtualización de Sistemas"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>

                    </select>

                    <button type="submit" class="btn btn-primary my-1">Apostar</button>
                </div>
            </div>
        </form>
    </div>

   
    <div class="container">
    
        <form action="/apuestas" method="POST">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Asignatura que apuestas que vas a aprobar con un de un notable</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" required>
                        <optgroup label="1º Curso">
                            <option value="CAL" label="Cálculo"></option>
                            <option value="IG" label="Infórmatica General"></option>
                            <option value="IP" label="Introducción a la Programación"></option>
                            <option value="MD" label="Matemática Discreta"></option>
                            <option value="SDIG" label="Sistemas Digitales"></option>

                            <option value="EST" label="Estádistica"></option>
                            <option value="SDIG" label="Sistemas Digitales"></option>
                            <option value="SDIG" label="Sistemas Digitales"></option>
                            <option value="SDIG" label="Sistemas Digitales"></option>
                            <option value="SDIG" label="Sistemas Digitales"></option>
                        </optgroup>
                    
                        <optgroup label="2º Curso"> 
                            <option value="AAED" label="Análisis de Algoritmos y Estructura de Datos"></option>
                            <option value="AC" label="Arquitectura de Computadores"></option>
                            <option value="OGE" label="Organización y Gestión de Empresas"></option>
                            <option value="RC" label="Redes de Computadores"></option>
                            <option value="SO" label="Sistemas Operativos"></option>

                            <option value="BD" label="Bases de Datos"></option>
                            <option value="EDNL" label="Estructura de datos no lineales"></option>
                            <option value="IS" label="Ingeniería del Software"></option>
                            <option value="POO" label="Programación Orientada a Objetos"></option>
                            <option value="SD" label="Sistemas Distribuidos"></option>
                        </optgroup>

                        <optgroup label="3º Curso"> 
                            <option value="DA" label="Diseño de Algoritmos"></option>
                            <option value="IA" label="Inteligencia Artificial"></option>
                            <option value="PCTR" label="Programación Concurrida en Tiempo Real"></option>
                            <option value="PINF" label="Proyectos Informáticos"></option>
                            <option value="SSI" label="Seguridad en los Sistemas Informaticos"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Computadores (3º Curso)"> 
                            <option value="MC" label="Modelos de Computación"></option>
                            <option value="RP" label="Reconocimiento de Patrones"></option>
                            <option value="SI" label="Sistemas Inteligentes"></option>
                            <option value="TALF" label="Teoría de Autómatas y Lenguajes Formales"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Ingeniería de Computadores (3º Curso)"> 
                            <option value="DBM" label="Diseños Basados en Microprocesadores"></option>
                            <option value="DCE" label="Diseño de Computadores Empotrados"></option>
                            <option value="DRC" label="Diseño de Redes de Computadores"></option>
                            <option value="TDC" label="Técnicas de Diseño de Computadores"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Ingeniería del Software (3º Curso)"> 
                            <option value="DSS" label="Diseño de Sistemas Software"></option>
                            <option value="IISS" label="Implementación e Implantación de Sistemas Software"></option>
                            <option value="IR" label="Ingeniería de Requisitos"></option>
                            <option value="VVS" label="Verificación y Validación del Software"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Sistemas de información (3º Curso)"> 
                            <option value="DSH" label="Desarrollo de Sistemas Hipermedia"></option>
                            <option value="PNET" label="Programación en Internet"></option>
                            <option value="SIE" label="Sistemas de Información en la Empresa"></option>
                            <option value="TABD" label="Tecnologías Avanzadas de Bases de Datos"></option>
                        </optgroup>
                        
                        <optgroup label="Especialidad: Tecnologías de la información (3º Curso)"> 
                            <option value="AS" label="Administración de Servidores"></option>
                            <option value="IPO" label="Interacción de Persona-Ordenador"></option>
                            <option value="ICR" label="Interconexión de Redes"></option>
                            <option value="PW" label="Programación Web"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Computadores (4º Curso)"> 
                            <option value="APC" label="Aprendizaje Computacional"></option>
                            <option value="CC" label="Complejidad Computacional"></option>
                            <option value="P" label="Percepción"></option>
                            <option value="PL" label="Procesadores de Lenguaje"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Ingeniería de Computadores (4º Curso)"> 
                            <option value="ASRC" label="Administración y Seguridad de Redes de Computadores"></option>
                            <option value="ACPD" label="Arquitectura de Computadores Paralelos y Distribuidos"></option>
                            <option value="DAAC" label="Diseño Avanzado de Arquitectura de Computadores"></option>
                            <option value="PPD" label="Programación Paralela y Distribuida"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Ingeniería del Software (4º Curso)"> 
                            <option value="CS" label="Calidad del Software"></option>
                            <option value="DGPS" label="Dirección y Gestión de Proyectos Software"></option>
                            <option value="ES" label="Evolución del Software"></option>
                            <option value="MPS" label="Metodologías y Procesos Software"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Sistemas de información (4º Curso)"> 
                            <option value="DSH" label="Administración de Bases de Datos"></option>
                            <option value="PNET" label="Ingeniería de Sistemas de Información"></option>
                            <option value="SIE" label="Recuperación de la Información"></option>
                            <option value="TABD" label="Tecnologías de Inteligencia de Negocio"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>
                        
                        <optgroup label="Especialidad: Tecnologías de la información (4º Curso)"> 
                            <option value="AS" label="Calidad de los Sistemas Informáticos"></option>
                            <option value="IPO" label="Ingeniería Web"></option>
                            <option value="ICR" label="Internet y Negocio Electrónico"></option>
                            <option value="PW" label="Virtualización de Sistemas"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>

                    </select>

                    <button type="submit" class="btn btn-primary my-1">Apostar</button>
                </div>
            </div>
        </form>
    </div>
   
    <div class="container">
    
        <form action="/apuestas" method="POST">
            <div class="form-row align-items-center">
                <div class="col-auto my-1">
                    <label class="mr-sm-2" for="inlineFormCustomSelect">Asignatura que apuestas que vas a aprobar con un sobresaliente</label>
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" required>
                        <optgroup label="1º Curso">
                            <option value="CAL" label="Cálculo"></option>
                            <option value="IG" label="Infórmatica General"></option>
                            <option value="IP" label="Introducción a la Programación"></option>
                            <option value="MD" label="Matemática Discreta"></option>
                            <option value="SDIG" label="Sistemas Digitales"></option>

                            <option value="EST" label="Estádistica"></option>
                            <option value="SDIG" label="Sistemas Digitales"></option>
                            <option value="SDIG" label="Sistemas Digitales"></option>
                            <option value="SDIG" label="Sistemas Digitales"></option>
                            <option value="SDIG" label="Sistemas Digitales"></option>
                        </optgroup>
                    
                        <optgroup label="2º Curso"> 
                            <option value="AAED" label="Análisis de Algoritmos y Estructura de Datos"></option>
                            <option value="AC" label="Arquitectura de Computadores"></option>
                            <option value="OGE" label="Organización y Gestión de Empresas"></option>
                            <option value="RC" label="Redes de Computadores"></option>
                            <option value="SO" label="Sistemas Operativos"></option>

                            <option value="BD" label="Bases de Datos"></option>
                            <option value="EDNL" label="Estructura de datos no lineales"></option>
                            <option value="IS" label="Ingeniería del Software"></option>
                            <option value="POO" label="Programación Orientada a Objetos"></option>
                            <option value="SD" label="Sistemas Distribuidos"></option>
                        </optgroup>

                        <optgroup label="3º Curso"> 
                            <option value="DA" label="Diseño de Algoritmos"></option>
                            <option value="IA" label="Inteligencia Artificial"></option>
                            <option value="PCTR" label="Programación Concurrida en Tiempo Real"></option>
                            <option value="PINF" label="Proyectos Informáticos"></option>
                            <option value="SSI" label="Seguridad en los Sistemas Informaticos"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Computadores (3º Curso)"> 
                            <option value="MC" label="Modelos de Computación"></option>
                            <option value="RP" label="Reconocimiento de Patrones"></option>
                            <option value="SI" label="Sistemas Inteligentes"></option>
                            <option value="TALF" label="Teoría de Autómatas y Lenguajes Formales"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Ingeniería de Computadores (3º Curso)"> 
                            <option value="DBM" label="Diseños Basados en Microprocesadores"></option>
                            <option value="DCE" label="Diseño de Computadores Empotrados"></option>
                            <option value="DRC" label="Diseño de Redes de Computadores"></option>
                            <option value="TDC" label="Técnicas de Diseño de Computadores"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Ingeniería del Software (3º Curso)"> 
                            <option value="DSS" label="Diseño de Sistemas Software"></option>
                            <option value="IISS" label="Implementación e Implantación de Sistemas Software"></option>
                            <option value="IR" label="Ingeniería de Requisitos"></option>
                            <option value="VVS" label="Verificación y Validación del Software"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Sistemas de información (3º Curso)"> 
                            <option value="DSH" label="Desarrollo de Sistemas Hipermedia"></option>
                            <option value="PNET" label="Programación en Internet"></option>
                            <option value="SIE" label="Sistemas de Información en la Empresa"></option>
                            <option value="TABD" label="Tecnologías Avanzadas de Bases de Datos"></option>
                        </optgroup>
                        
                        <optgroup label="Especialidad: Tecnologías de la información (3º Curso)"> 
                            <option value="AS" label="Administración de Servidores"></option>
                            <option value="IPO" label="Interacción de Persona-Ordenador"></option>
                            <option value="ICR" label="Interconexión de Redes"></option>
                            <option value="PW" label="Programación Web"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Computadores (4º Curso)"> 
                            <option value="APC" label="Aprendizaje Computacional"></option>
                            <option value="CC" label="Complejidad Computacional"></option>
                            <option value="P" label="Percepción"></option>
                            <option value="PL" label="Procesadores de Lenguaje"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Ingeniería de Computadores (4º Curso)"> 
                            <option value="ASRC" label="Administración y Seguridad de Redes de Computadores"></option>
                            <option value="ACPD" label="Arquitectura de Computadores Paralelos y Distribuidos"></option>
                            <option value="DAAC" label="Diseño Avanzado de Arquitectura de Computadores"></option>
                            <option value="PPD" label="Programación Paralela y Distribuida"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Ingeniería del Software (4º Curso)"> 
                            <option value="CS" label="Calidad del Software"></option>
                            <option value="DGPS" label="Dirección y Gestión de Proyectos Software"></option>
                            <option value="ES" label="Evolución del Software"></option>
                            <option value="MPS" label="Metodologías y Procesos Software"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>

                        <optgroup label="Especialidad: Sistemas de información (4º Curso)"> 
                            <option value="DSH" label="Administración de Bases de Datos"></option>
                            <option value="PNET" label="Ingeniería de Sistemas de Información"></option>
                            <option value="SIE" label="Recuperación de la Información"></option>
                            <option value="TABD" label="Tecnologías de Inteligencia de Negocio"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>
                        
                        <optgroup label="Especialidad: Tecnologías de la información (4º Curso)"> 
                            <option value="AS" label="Calidad de los Sistemas Informáticos"></option>
                            <option value="IPO" label="Ingeniería Web"></option>
                            <option value="ICR" label="Internet y Negocio Electrónico"></option>
                            <option value="PW" label="Virtualización de Sistemas"></option>
                            <option value="PC" label="Prácticas Curriculares"></option>
                            <option value="TFG" label="Trabajo Fin de Grado"></option>
                        </optgroup>

                    </select>

                    <button type="submit" class="btn btn-primary my-1">Apostar</button>
                </div>
            </div>
        </form>
    </div>
      
</body>
</html>
