<!DOCTYPE html>
<html lang=es>
<head>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apuestas | PINFBET</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous"
    />
</head>
<br>
    <b id="apuestas_titulo">
        <center>Apuesta en PINFBET</center>
    </b>
</br>
<body id="body_apuestas">
    <b></b>
    <b></b>
    <form action="/apuestas" method="POST">
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Asignatura que apuestas que vas a aprobar</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" required>
                    <option selected>Asignatura</option>
                    <option value="1">Seguridad en losSistemas Informáticos</option>
                    <option value="2">Inteligencia artifical</option>
                    <option value="3">Three</option>
                </select>
                <button type="submit" class="btn btn-primary my-1">Apostar</button>
            </div>
        </div>
    </form>
      
</body>
</html>