<!DOCTYPE html>
<html lang=es>
<head>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <title>Apuestas | PINFBET</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/css/apuestas.css" />
</head>
<body class="apuestas">

    <div class="cabecera">
        <h1>Comience a Apostar</h1>
    </div>

    <div id="header">

        <ul class="nav">            
            <li><a href="">1º Curso</a>
                <ul>
                    <li><a href="">Cálculo</a></li>
                    <li><a href="">Infórmatica General</a></li>
                    <li><a href="">Introducción a la Programación</a></li>
                    <li><a href="">Matemática Discreta</a></li>
                    <li><a href="">Sistemas Digitales</a></li>

                    <li><a href="">Estádistica</a></li>
                    <li><a href="">Fundamentos Físicos y Electronicos de la Informática</a></li>
                    <li><a href="">Fundamentos y Estructuras de Computadores</a></li>
                    <li><a href="">Metodología de la Programación</a></li>
                    <li><a href="">Álgebra</a></li>
                </ul>
            </li>

            <li><a href="">2º Curso</a>
                <ul>
                    <li><a href="">Análisis de Algoritmos y Estructura de Datos</a></li>
                    <li><a href="">Arquitectura de Computadores</a></li>
                    <li><a href="">Organización y Gestión de Empresas</a></li>
                    <li><a href="">Redes de Computadores</a></li>
                    <li><a href="">Sistemas Operativos</a></li>

                    <li><a href="">Bases de Datos</a></li>
                    <li><a href="">Estructura de Datos no Lineales</a></li>
                    <li><a href="">Ingeniería del Software</a></li>
                    <li><a href="">Programación Orientada a Objetos</a></li>
                    <li><a href="">Sistemas Distribuidos</a></li>
                </ul>
            </li>
            <li><a href="">3º Curso</a>
                <ul>
                    <li><a href="">Diseño de Algoritmos</a></li>
                    <li><a href="">Inteligencia Artificial</a></li>
                    <li><a href="">Programación Concurrida en Tiempo Real</a></li>
                    <li><a href="">Proyectos Informáticos</a></li>
                    <li><a href="">Seguridad en los Sistemas Informaticos</a></li>
                    <li><a href="">ELIJA ESPECIALIDAD...</a>
                        <ul>
                            <li><a href="">Computación</a>
                                <ul>
                                    <li><a href="">Modelos de Computación</a></li>
                                    <li><a href="">Reconocimiento de Patrones</a></li>
                                    <li><a href="">Sistemas Inteligentes</a></li>
                                    <li><a href="">Teoría de Autómatas y Lenguajes Formales</a></li>
                                </ul>
                            </li>
                            <li><a href="">Ingeniería de Computación</a>
                                <ul>
                                    <li><a href="">Diseños Basados en Microprocesadores</a></li>
                                    <li><a href="">Diseño de Computadores Empotrados</a></li>
                                    <li><a href="">Diseño de Redes de Computadores</a></li>
                                    <li><a href="">Técnicas de Diseño de Computadores</a></li>
                                </ul>
                            </li>
                            <li><a href="">Ingeniería del Software</a>
                                <ul>
                                    <li><a href="">Diseño de Sistemas Software</a></li>
                                    <li><a href="">Implementación e Implantación de Sistemas Software</a></li>
                                    <li><a href="">Ingeniería de Requisitos</a></li>
                                    <li><a href="">Verificación y Validación del Software</a></li>
                                </ul>
                            </li>
                            <li><a href="">Sistemas de Información</a>
                                <ul>
                                    <li><a href="">Desarrollo de Sistemas Hipermedia</a></li>
                                    <li><a href="">Programación en Internet</a></li>
                                    <li><a href="">Sistemas de Información en la Empresa</a></li>
                                    <li><a href="">Tecnologías Avanzadas de Bases de Datos</a></li>
                                </ul>
                            </li>
                            <li><a href="">Tecnologías de la Información</a>
                                <ul>
                                    <li><a href="">Administración de Servidores</a></li>
                                    <li><a href="">Interacción de Persona-Ordenador</a></li>
                                    <li><a href="">Interconexión de Redes</a></li>
                                    <li><a href="">Programación Web</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="">4º Curso</a>
                <ul>
                    <li><a href="">ELIJA ESPECIALIDAD...</a>
                        <ul>                    
                            <li><a href="">Computación</a>
                                <ul>
                                    <li><a href="">Aprendizaje Computacional</a></li>
                                    <li><a href="">Complejidad Computacional</a></li>
                                    <li><a href="">Percepción</a></li>
                                    <li><a href="">Procesadores de Lenguaje</a></li>
                                    <li><a href="">Prácticas Curriculares</a></li>
                                    <li><a href="">Trabajo Fin de Grado</a></li>
                                </ul>
                            </li>
                            <li><a href="">Ingeniería de Computación</a>
                                <ul>
                                    <li><a href="">Administración y Seguridad de <br>
                                        Redes de Computadores</a></li>
                                    <li><a href="">Arquitectura de Computadores <br>
                                        Paralelos y Distribuidos</a></li>
                                    <li><a href="">Diseño Avanzado de Arquitectura <br> 
                                        de Computadores</a></li>
                                    <li><a href="">Programación Paralela y Distribuida</a></li>
                                    <li><a href="">Prácticas Curriculares</a></li>
                                    <li><a href="">Trabajo Fin de Grado</a></li>
                                </ul>
                            </li>
                            <li><a href="">Ingeniería del Software</a>
                                <ul>
                                    <li><a href="">Calidad del Software</a></li>
                                    <li><a href="">Dirección y Gestión de Proyectos Software</a></li>
                                    <li><a href="">Evolución del Software</a></li>
                                    <li><a href="">Metodologías y Procesos Software</a></li>
                                    <li><a href="">Prácticas Curriculares</a></li>
                                    <li><a href="">Trabajo Fin de Grado</a></li>
                                </ul>
                            </li>
                            <li><a href="">Sistemas de Información</a>
                                <ul>
                                    <li><a href="">Administración de Bases de Datos</a></li>
                                    <li><a href="">Ingeniería de Sistemas de Información</a></li>
                                    <li><a href="">Recuperación de la Información</a></li>
                                    <li><a href="">Tecnologías de Inteligencia de Negocio</a></li>
                                    <li><a href="">Trabajo Fin de Grado</a></li>
                                </ul>
                            </li>
                            <li><a href="">Tecnologías de la Información</a>
                                <ul>
                                    <li><a href="">Calidad de los Sistemas Informáticos</a></li>
                                    <li><a href="">Ingeniería Web</a></li>
                                    <li><a href="">Internet y Negocio Électronico</a></li>
                                    <li><a href="">Prácticas Curriculares</a></li>
                                    <li><a href="">Trabajo Fin de Grado</a></li>
                                    <li><a href="">Virtualización de Sistemas</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
           
            <li><a href="/principal">Volver</a></li>

        </ul>
</body>
</html>