<!DOCTYPE html>
<html lang=es>
    <head>
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/main.css" >
        <title>Expediente | PINFBET</title>
        <%- include ("partials/head") %>
        
    </head>
    <body>
        <br>
            <b style="font-size: 1cm;">
                <center>Marque las asignaturas aprobadas</center>
            </b>
            <b style="font-size: 0.5cm;">
                <center>Una vez marcada/s dele al botón de enviar situado al final de la página</center>
            </b>
        </br>
    <div class="chat-vuelta-principal" >
        <a href="/principal" style="font-size: x-large; position: relative; left: 38cm; top: -3cm; font-weight: bold; color: white;  margin-left: 7px; text-decoration: none;"> Volver</a>
    </div>
    <form action="/expediente" method="post">
            <span style="font-size: 0.5cm; color: white;">1º Curso</span><br>
            <input type="checkbox" name="CAL">Cálculo<br>
            <input type="checkbox" name="IG">Infórmatica General<br>
            <input type="checkbox" name="IP">Introducción a la Programación<br>
            <input type="checkbox" name="MD">Matemática Discreta<br>
            <input type="checkbox" name="SDIG">Sistemas Digitales<br>

            <input type="checkbox" name="EST">Estádistica<br>
            <input type="checkbox" name="FFE">Fundamentos Físicos y Electrónicos de la Informática<br>
            <input type="checkbox" name="FEC">Fundamentos de Estructuras de Computadores<br>
            <input type="checkbox" name="MP">Metodología de la Progamación<br>
            <input type="checkbox" name="ALG">Álgebra<br>
    
            <span></span><br>
            <span style="font-size: 0.5cm; color: white;">2º Curso</span><br>
            <input type="checkbox" name="AAED">Análisis de Algoritmos y Estructura de Datos<br>
            <input type="checkbox" name="AC">Arquitectura de Computadores<br>
            <input type="checkbox" name="OGE">Organización y Gestión de Empresas<br>
            <input type="checkbox" name="RC">Redes de Computadores<br>
            <input type="checkbox" name="SO">Sistemas Operativos<br>

            <input type="checkbox" name="BD">Bases de Datos<br>
            <input type="checkbox" name="EDNL">Estructura de Datos no Lineales<br>
            <input type="checkbox" name="IS">Ingeniería del Software<br>
            <input type="checkbox" name="POO">Programación Orientada a Objetos<br>
            <input type="checkbox" name="SD">Sistemas Distribuidos<br>

            <span></span><br>
            <span style="font-size: 0.5cm; color: white;">3º Curso</span><br>
            <input type="checkbox" name="DA">Diseño de Algoritmos<br>
            <input type="checkbox" name="IA">Inteligencia Artificial<br>
            <input type="checkbox" name="PCTR">Programación Concurrida en Tiempo Real<br>
            <input type="checkbox" name="PINF">Proyectos Informáticos<br>
            <input type="checkbox" name="SSS">Seguridad en los Sistemas Informaticos<br>

            <span></span><br>
            <span style="font-size: 0.5cm; color: white;">Especialidad: Computadores (3º Curso)</span><br>
            <input type="checkbox" name="MC">Modelos de Computación<br>
            <input type="checkbox" name="RP">Reconocimiento de Patrones<br>
            <input type="checkbox" name="SI">Sistemas Inteligentes<br>
            <input type="checkbox" name="TALF">Teoría de Autómatas y Lenguajes Formales<br>

            <span></span><br>
            <span style="font-size: 0.5cm; color: white;">Especialidad: Ingeniería de Computadores (3º Curso)</span><br>
            <input type="checkbox" name="DBM">Diseños Basados en Microprocesadores<br>
            <input type="checkbox" name="DCE">Diseño de Computadores Empotrados<br>
            <input type="checkbox" name="DRC">Diseño de Redes de Computadores<br>
            <input type="checkbox" name="TDC">Técnicas de Diseño de Computadores<br>

            <span></span><br>
            <span style="font-size: 0.5cm; color: white;">Especialidad: Ingeniería del Software (3º Curso)</span><br>
            <input type="checkbox" name="DSS">Diseño de Sistemas Software<br>
            <input type="checkbox" name="IISS">Implementación e Implantación de Sistemas Software<br>
            <input type="checkbox" name="IR">Ingeniería de Requisitos<br>
            <input type="checkbox" name="VVS">Verificación y Validación del Software<br>

            <span></span><br>
            <span style="font-size: 0.5cm; color: white;">Especialidad: Sistemas de información (3º Curso)</span><br>
            <input type="checkbox" name="DSH">Desarrollo de Sistemas Hipermedia<br>
            <input type="checkbox" name="PNET">Programación en Internet<br>
            <input type="checkbox" name="SIE">Sistemas de Información en la Empresa<br>
            <input type="checkbox" name="TABD">Tecnologías Avanzadas de Bases de Datos<br>
        
            <span></span><br>
            <span style="font-size: 0.5cm; color: white;">Especialidad: Tecnologías de la información (3º Curso)</span><br>
            <input type="checkbox" name="AS">Administración de Servidores<br>
            <input type="checkbox" name="IPO">Interacción de Persona-ordenador<br>
            <input type="checkbox" name="ICR">Interconexión de Redes<br>
            <input type="checkbox" name="PW">Programación Web<br>

            <span></span><br>
            <span style="font-size: 0.5cm; color: white;">Especialidad: Computadores (4º Curso)</span><br>
            <input type="checkbox" name="APC">Apredizaje Computacional<br>
            <input type="checkbox" name="CC">Complejidad Computacional<br>
            <input type="checkbox" name="P">Percepción<br>
            <input type="checkbox" name="PL">Procesadores de lenguaje<br>
            <input type="checkbox" name="PC">Prácticas Curriculares<br>
            <input type="checkbox" name="TFG">Trabajo Fin de Grado<br>

            <span></span><br>
            <span style="font-size: 0.5cm; color: white;">Especialidad: Ingeniería de Computadores (4º Curso)</span><br>
            <input type="checkbox" name="ASRC">Administración y Seguridad de Redes de Computadores<br>
            <input type="checkbox" name="ACDP">Arquitectura de Computadores Paralelos y Distribuidos<br>
            <input type="checkbox" name="DAAC">Diseño Avanzado de Arquitectura de Computadores<br>
            <input type="checkbox" name="PPD">Programación Paralela y Distribuida<br>
            <input type="checkbox" name="PC">Prácticas Curriculares<br>
            <input type="checkbox" name="TFG">Trabajo Fin de Grado<br>

            <span></span><br>
            <span style="font-size: 0.5cm; color: white;">Especialidad: Ingeniería del Software (4º Curso)</span><br>
            <input type="checkbox" name="CS">Calidad del Software<br>
            <input type="checkbox" name="DGPS">Dirección y Gestión de Proyectos Software<br>
            <input type="checkbox" name="ES">Evolución del Software<br>
            <input type="checkbox" name="MPS">Metodología y PRocesos Software<br>
            <input type="checkbox" name="PC">Prácticas Curriculares<br>
            <input type="checkbox" name="TFG">Trabajo Fin de Grado<br>

            <span></span><br>
            <span style="font-size: 0.5cm; color: white;">Especialidad: Sistemas de información (4º Curso)</span><br>
            <input type="checkbox" name="ABD">Administración de Bases de Datos<br>
            <input type="checkbox" name="ISI">Ingeniería de Sistemas de Información<br>
            <input type="checkbox" name="REC-INF">Recuperación de la Información<br>
            <input type="checkbox" name="TIN">Tecnologías de inteligencia de Negocio<br>
            <input type="checkbox" name="PC">Prácticas Curriculares<br>
            <input type="checkbox" name="TFG">Trabajo Fin de Grado<br>
        
            <span></span><br>
            <span style="font-size: 0.5cm; color: white;">Especialidad: Tecnologías de la información (4º Curso)</span><br>
            <input type="checkbox" name="CSI">Calidad de los Sistemas de Información<br>
            <input type="checkbox" name="IW">Ingeniería Web<br>
            <input type="checkbox" name="INE">Internet y Negocio Electrónico<br>
            <input type="checkbox" name="VS">Virtualización de Sistemas<br>
            <input type="checkbox" name="PC">Prácticas Curriculares<br>
            <input type="checkbox" name="TFG">Trabajo Fin de Grado<br>
        <div>
            <input type="submit" class= "btn btn-dark bt-lg" style="margin-left: 19.5cm; margin-top: 0.5cm;">
        </div>
    </form>
    </body>
</html>