<!DOCTYPE html>
<html lang=es>
    <head>
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="css/main.css" >
        <title>Expediente | PINFBET</title>
        <%- include ("partials/head") %>
        
    </head>
    <body>
        <br>
        <b style="font-size: 1cm;">
            <center>Suba su Expediente</center>
        </b>
    </br>
    <div class="chat-vuelta-principal" >
        <a href="/principal" style="font-size: x-large; position: relative; left: 38cm; top: -3cm; font-weight: bold; color: white;  margin-left: 7px; text-decoration: none;"> Volver</a>
    </div>
    <form action="/expediente" enctype="multipart/form-data" method="post">
        <div class= "form-group" style="width: 5cm; position: relative; left: 18cm;">
            <label for="email"> Introduzca su correo </label>
            <input type="email" name="email" class="form-control" placeholder="Introduzca correo" required>
        </div>
        <div class="drag-drop" style="margin-top: 0.5cm;">
            <input type="file" multiple="multiple" name="expediente" required />
            <span class="fa-stack fa-2x">
                <i class="fa fa-cloud fa-stack-2x bottom pulsating"></i>
                <i class="fa fa-circle fa-stack-1x top medium"></i>
                <i class="fa fa-arrow-circle-up fa-stack-1x top"></i>
            </span>
            <span class="desc">Pulsa aquí para subir tu expediente</span>
        </div>
        <div>
            <input type="submit" class= "btn btn-dark bt-lg" style="margin-left: 19.5cm; margin-top: 0.5cm;">
        </div>
    </form>
    </body>
</html>