<!DOCTYPE html>
<html lang="en">
<head>
    <link  rel="icon"   href="logo.png" type="image/png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" type="text/css" href="/css/main2.css">
</head>
<body>
    <br>
    <b>
        <center>BIENVENIDO A PINFBET</center>
    </b>
</br>
<center >
    <img src="logo.png" alt="Logotipo de la web"> 
</center>


<div id="div1">
    <a href="/apuestas" style="color: white; margin-left: 2px; text-decoration: none;" class="fas fa-trophy"> Apuestas</a>
</div>
<div id="div1">
    <a href="/profile" style="color: white; margin-left: 7px; text-decoration: none;" class="fas fa-user"> Mi perfil</a>
</div>
<div id="div1">
    <a href="/chat" style="color: white; margin-left: 0px; text-decoration: none;" class="fas fa-users"> Chat</a>
</div>
<div id="div1">
    <a href="/acercade" style="color: white; text-decoration: none; margin-bottom: 1cm; margin-left: 15px;" class="fas fa-info"> Acerca de</a>
</div>
</body>
</html>