<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" type="text/css" href="/css/main2.css">
</head>
<body>
    <br>
    <b>
        <center>BIENVENIDO A PINFBET</center>
    </b>
</br>
<center >
    <img src="logo.png" alt="Logotipo de la web"> 
</center>

<div id="div1">Apuestas</div>
<div id="div2"><a href="/profile">Mi perfil</a></div>
<div id="div3">Chat</div>
<div id="div4">Acerca de</div>

</body>
</html>