<!DOCTYPE html>
<html lang=es>
    <head>
        <link  rel="icon"   href="logo.png" type="image/png" />
        <meta charset="utf-8">
        <title>Registro</title>
        <%- include ("partials/head") %>

    </head>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
          rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous"
        />
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <title>Subscribe Form</title>
      </head>
    <body class="signup">
        <div class= "container">
            <div class= "col-sm-6 mx-auto">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="text-center">
                            <span class="fa fa-sign-in"></span> Regístrate en PINFBet
                        </h1>

                        <% if(message.length > 0) { %>
                            <div class="alert alert-danger">
                                <%= message %>
                            </div>
                        <%}%>
                        

                        <form action="/signup" method="post" onsubmit="return miFuncion(this)">
                            <div class= "form-group">
                                <label for="email"> Correo electrónico </label>
                                <input type="email" name="email" class="form-control" required>
                            </div>
                            <div class= "form-group">
                                <label for="password"> Contraseña </label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                            <div class= "form-group">
                                <label for="date"> Fecha de nacimiento </label>
                                <input type="date" id="miEdad" name="date" class="form-control" required>
                            </div>
                            <div class="form-group"> 
                                <div
                                  class="g-recaptcha"
                                  data-sitekey="6LdpvDEUAAAAAMy8x0y8PS99j4BavfO2oBdVTQGZ"
                                ></div>
                            </div>
                            <script>
                                function miFuncion(a) {
                                    var response = grecaptcha.getResponse();

                                    if(response.length == 0){
                                        alert("Captcha no verificado");
                                        return false;
                                    event.preventDefault();
                                    } else {
                                    return true;
                                    }
                                }
                              </script>
                            <div>
                                <input type="submit" class= "btn btn-dark bt-lg">
                            </div>
                        </form>
                        <hr>
                        <div class="text-center">
                            <p>¿Ya tienes una cuenta? <a href="/login">Inicia sesión</a></p>
                            <p>Volver a <a href="/">inicio</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        document.getElementById('subscribeForm').addEventListener('submit', e => {
          e.preventDefault();
  
          const name = document.querySelector('#name').value;
          const email = document.querySelector('#email').value;
          const captcha = document.querySelector('#g-recaptcha-response').value;
  
          return fetch('/subscribe', {
            method: 'POST',
            headers: { 'Content-type': 'application/json' },
            body: JSON.stringify({ name, email, captcha })
          })
            .then(res => res.json())
            .then(data => {
              console.log(data);
              alert(data.msg);
              if (data.success) return location.reload();
            });
        });
      </script>
</html>