*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background: url("../fondo1.jpg");
}

.contenedor{
    font-family: 'Courier New', Courier, monospace;
    width: 1000px;
    margin: 0px auto;
}

.cuadro{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

header{
    background: rgb(1, 182, 253);
    height: 100px;
    width: 100%;
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 3px dashed black;
    font-family: 'Courier New', Courier, monospace;
}

.pregunta1{
    color: rgb(225, 0, 255);
    font-family: 'Courier New', Courier, monospace;
}

.creadores{
    text-align: center;
    height: 120px;
    font-family: 'Courier New', Courier, monospace;
}

.pregunta2{
    color: rgb(225, 0, 255);
    font-family: 'Courier New', Courier, monospace;
}

.ofrecemos{
    text-align: center;
    height: 200px;
    font-family: 'Courier New', Courier, monospace;
}

.pregunta3{
    color: rgb(225, 0, 255);
    font-family: 'Courier New', Courier, monospace;
}

.probarnos{
    text-align: center;
    height: 120px;
    font-family: 'Courier New', Courier, monospace;
}

.contactanos{
    color: rgb(225, 0, 255);
    font-family: 'Courier New', Courier, monospace;
}

.contacto{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}