.calendar {
    background: #4ECDC4;
    width: 80%;
    max-width: 600px;
    margin: 1em auto;
    padding: .5em 0; 
    -webkit-transition-timing-function: none;
    -moz-transition-timing-function: none;
    -o-transition-timing-function: none;
    transition-timing-function: none;
}

.calendar__info {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 2em;
      font-size: 1.2em;
      text-transform: uppercase; 
      -webkit-transition-timing-function: none;
    -moz-transition-timing-function: none;
    -o-transition-timing-function: none;
    transition-timing-function: none;
}

.calendar__prev, .calendar__next {
      color: #C7F464;
      cursor: pointer;
      font-size: 1.3em; 
      -webkit-transition-timing-function: none;
    -moz-transition-timing-function: none;
    -o-transition-timing-function: none;
    transition-timing-function: none;
    -webkit-transition-timing-function: none;
    -moz-transition-timing-function: none;
    -o-transition-timing-function: none;
    transition-timing-function: none;
}

.calendar__prev {
      margin-right: auto;
      -webkit-transition-timing-function: none;
    -moz-transition-timing-function: none;
    -o-transition-timing-function: none;
    transition-timing-function: none; 
}

.calendar__next {
      margin-left: auto;
      -webkit-transition-timing-function: none;
    -moz-transition-timing-function: none;
    -o-transition-timing-function: none;
    transition-timing-function: none; 
}
      
.calendar__week, .calendar__dates {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 10px;
      -webkit-transition-timing-function: none;
    -moz-transition-timing-function: none;
    -o-transition-timing-function: none;
    transition-timing-function: none; 
}

.calendar__month, .calendar__year {
      padding: .5em 1em;
      -webkit-transition-timing-function: none;
    -moz-transition-timing-function: none;
    -o-transition-timing-function: none;
    transition-timing-function: none; 

    }
.calendar__item {
      text-align: center;
      line-height: 2;
      -webkit-transition-timing-function: none;
    -moz-transition-timing-function: none;
    -o-transition-timing-function: none;
    transition-timing-function: none; 
}

.calendar__today {
      background: lightcoral;
      color: white;
      width: 50%;
      border-radius: 50%;
      margin: auto;
      -webkit-transition-timing-function: none;
    -moz-transition-timing-function: none;
    -o-transition-timing-function: none;
    transition-timing-function: none;
}

.calendar__last-days {
      opacity: .3;
      -webkit-transition-timing-function: none;
    -moz-transition-timing-function: none;
    -o-transition-timing-function: none;
    transition-timing-function: none; 
}
