*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(205, 255, 224);
}

#titulo{

    margin-left: auto;
    margin-right: auto;
    display: block;
}

div {
    overflow: hidden;
    border-radius: 500px;
    width: 60px;
    height: 48px;
    background: #03bb03;
    color: white;
    font-weight: bold;
    -webkit-transition: width 0.5s, background 1s;
    -moz-transition: width 0.5s, background 1s;
    -o-transition: width 0.5s, background 1s;
    transition: width 0.5s, background 1s;
    padding: 10px;
    margin: 10px;
}

#div1 {
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

div:hover {
    width: 300px;
    background: #428bca;
}
